.selectedColorPointer {
    position: absolute;
    cursor: pointer;
    border-radius: 50%;
    background: radial-gradient(circle at center, transparent 0, transparent 40%, white 50%, black 100%)
}

.outerPointerCircle {
    fill: none;
    stroke: grey;
}

.innerPointerCircle {
    fill: none;
    stroke: white;
}